name: release
on:
  push:
    branches:
      - main
      - master
permissions:
  contents: write
jobs:
  release:
    name: Determine version and create release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.semrel.outputs.version }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: semantic-release
        id: semrel
        uses: go-semantic-release/action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allow-initial-development-versions: true
          changelog-file: CHANGELOG.md

  build-assets:
    name: Build and upload ${{ matrix.asset_name }}
    needs: release
    if: needs.release.outputs.version != ''
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: bigquery-emulator
            asset_name: bigquery-emulator-linux-amd64
            go-version: "1.21.5"
          - os: macos-latest
            artifact_name: bigquery-emulator
            asset_name: bigquery-emulator-darwin-amd64
            go-version: "1.21.5"
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      - uses: rui314/setup-mold@v1
        if: runner.os == 'Linux'
      - name: cache for linux
        uses: actions/cache@v3
        if: runner.os == 'Linux'
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: cache for macOS
        uses: actions/cache@v3
        if: runner.os == 'macOS'
        with:
          path: |
            ~/Library/Caches/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: build
        run: make emulator/build
        env:
          VERSION: v${{ needs.release.outputs.version }}
      - name: Upload to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: v${{ needs.release.outputs.version }}

  build-image:
    name: Build and push Docker image
    needs: release
    if: needs.release.outputs.version != ''
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: refs/tags/v${{ needs.release.outputs.version }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/goccy/bigquery-emulator
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v2
      - name: cache for linux
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=~/.cache/go-build
          build-args: |
            VERSION=v${{ needs.release.outputs.version }}
